@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Noto Sans", "Roboto";
  }
}

.recharts-legend-item {
  font-size: 8pt;
  font-family: "Noto Sans", "Roboto", "Arial";
}

.pinhole {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.6);
}

/* .result-bg {
  background-image: url("../public/GettyImages-675834103.avif");

  background-position: 30% 50%;
  background-sice: cover;
  background-repeat: no-repeat;
} */

.recharts-sector {
  shape-rendering: geometricPrecision;
}

/* .result-bg:after {
  content: "";
  position: absolute;
  bottom: -25%;
  left: 20%;
  height: 55%;
  width: 60%;
  overflow: hidden;
  background: #ffffff;
  transform: translateY(-10%) rotate(-70deg);
  z-index: -20;
} */

.frame-bg {
  background-image: linear-gradient(
    100deg,
    #22313f 70%,
    #f4f4f4 calc(70% + 2px)
  );
}

body {
  font-family: "Noto Sans", "Roboto";
}

svg {
  pointer-events: none;
}

path {
  pointer-events: auto;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
